{% extends "account/email/base_notification.html" %}
{% block preheader %}Your email was changed.{% endblock preheader %}
{% block heading %}Your email was changed{% endblock heading %}
{% block notification_message %}The email of your Goldfish Lab account was changed from <strong>{{ from_email }}</strong> to <strong>{{ to_email }}</strong>.{% endblock notification_message %}
{% block if_not_you %}
  <p style="margin:0 0 16px;">
    If it wasn't you, write to us{% if operator.email %} at <a href="mailto:{{ operator.email }}" style="color:#86231d;">{{ operator.email }}</a>{% endif %} right away - a new password would go to the new address.
  </p>
{% endblock if_not_you %}
