{% extends "account/email/base_message.html" %}
{% block preheader %}Type this code into the page you have open.{% endblock preheader %}
{% block heading %}Your sign-in code{% endblock heading %}
{% block content %}
<p style="margin:0 0 16px;">Type this code into the page you have open:</p>
{% include "account/email/snippets/code.html" %}
<p style="margin:0;font-size:13px;line-height:20px;color:#5d564a;">Didn't try to sign in? Ignore this mail - nobody gets in without the code.</p>
{% endblock content %}
