{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block preheader %}{% translate "Type this code into the page you have open." %}{% endblock preheader %}
{% block heading %}{% translate "Your password reset code" %}{% endblock heading %}
{% block content %}
<p style="margin:0 0 16px;">{% translate "Type this code into the page you have open:" %}</p>
{% include "account/email/snippets/code.html" %}
<p style="margin:0;font-size:13px;line-height:20px;color:#5d564a;">{% translate "Didn't ask for this? Ignore this mail - your password stays as it is." %}</p>
{% endblock content %}
