{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block preheader %}{% translate "Choose a new password for your Goldfish Lab account." %}{% endblock preheader %}
{% block heading %}{% translate "Reset your password" %}{% endblock heading %}
{% block content %}
<p style="margin:0 0 16px;">{% translate "Click the button and choose a new password for your Goldfish Lab account." %}</p>
{% include "account/email/snippets/button.html" with url=password_reset_url label=_("Choose a new password") %}
<p style="margin:0;font-size:13px;line-height:20px;color:#5d564a;">{% translate "Didn't ask for this? Ignore this mail - your password stays as it is." %}</p>
{% endblock content %}
