{% extends "account/email/base_message.html" %}
{% block preheader %}Choose a new password for your Goldfish Lab account.{% endblock preheader %}
{% block heading %}Reset your password{% endblock heading %}
{% block content %}
<p style="margin:0 0 16px;">Click the button and choose a new password for your Goldfish Lab account.</p>
{% include "account/email/snippets/button.html" with url=password_reset_url label="Choose a new password" %}
<p style="margin:0;font-size:13px;line-height:20px;color:#5d564a;">Didn't ask for this? Ignore this mail - your password stays as it is.</p>
{% endblock content %}
